---
import Layout from '../layouts/Layout.astro'
---
<Layout title="Pricing">
	<h3><a href="https://dayton-swing-smackdown-2026.dancecamps.org/booking.php">Registration is open now!</a></h3>
	<h2>Main Event Pricing</h2>
	<p>The tiered pricing structure in the below table is for a Full Weekend Pass. The Full Weekend Pass includes access to all dances and workshop classes. It does not include competition fees (see competition entry fee prices below).</p>
	<p>This year we are capping our ticket sales at 200 full weekend passes!  Make sure to sign up early!</p>
	<ul>
		<li>Full Weekend Pass: $110.00</li>
		<li>Full Weekend Pass (Student): $70.00</li>
		<li>Dance Only Pass (no workshops): $50.00</li>
	</ul>
	<h2>A la Carte: Sold at the door only</h2>
	<ul>
		<li>Full Weekend Pass — $120.00</li>
		<li>Dance Only Pass — $60.00</li>
		<li>Friday Night Dance and Late Night Dance — $30.00</li>
		<li>Saturday Night and Late Night Dance — $30.00</li>
		<li>Sunday Afternoon Dance — $10.00</li>
		<li>Saturday Night Dance Spectator Pass — $5.00</li>
	</ul>
	<h2>Competitions:</h2>
	<ul>
		<li>Team Competition Entry Fee — $55.00/team. Deadline 1 February 2026. Waived for Collegiate Teams!</li>
		<li>Mix and Match Entry Fee — $10.00.  Capped at 60 of each role!</li>
		<li>Solo Jazz Entry Fee — $5.00</li>
	</ul>
	<h2>T-Shirts</h2>
	<p>T-Shirt design will be available in January 2026</p>
	<p>All t-shirts will be $17</p>
	<h3>T-Shirt Sizing Information</h3>
	<h4>Unisex</h4>
	<p>Measurements</p>
	<table class="table">
		<thead>
			<tr><th> </th><th>XS</th><th>S</th><th>M</th><th>L</th><th>XL</th><th>2XL</th><th>3XL</th></tr>
		</thead>
		<tbody>
			<tr><td>Chest Width</td><td>17</td><td>18.5</td><td>20</td><td>21.5</td><td>23</td><td>24.5</td><td>26</td></tr>
			<tr><td>Total Length</td><td>27</td><td>28</td><td>29</td><td>30</td><td>31</td><td>32</td><td>33</td></tr>
		</tbody>
	</table>
	<h4>Fitted ("Women's")</h4>
	<p>Measurements</p>
	<table class="table">
		<thead>
			<tr><th></th><th>S</th><th>M</th><th>L</th><th>XL</th><th>2XL</th></tr>
		</thead>
		<tbody>
			<tr><td>Shirt Length</td><td>26 1/4</td><td>26 3/4</td><td>27 3/8</td><td>28</td><td>28 5/8</td></tr>
			<tr><td>Shirt Length Tolerance</td><td>3/8</td><td>3/8</td><td>3/8</td><td>3/8</td><td>3/8</td></tr>
			<tr><td>Shirt Width</td><td>16</td><td>16 3/4</td><td>17 3/4</td><td>18 3/4</td><td>19 3/4</td></tr>
			<tr><td>Shirt Width Tolerance</td><td>1/2</td><td>1/2</td><td>1/2</td><td>1/2</td><td>1/2</td></tr>
		</tbody>
	</table>
	<h2>Refunds, Deferrals, and Transfers</h2>
	<p>If you are unable to attend the event, we are happy to facilitate pass transfers or deferrals. Passes can be transferred by changing the name on the registration via the link in your confirmation email. If you experience trouble or want to defer your pass to a future year, we will be happy to assist at <a href="mailto:info@daytonswingsmackdown.com">info@daytonswingsmackdown.com</a>.</p>
	<p>While we prefer you attempt to defer or transfer your pass instead of requesting a refund (as pass refunds come at a cost to us from our payment processors), we are also happy to assist with refunds if no other option is available.  Simply email us at the above address and we will assist you.</p>
	<p>Please note that this event is run by volunteers in our spare time, and it may take some time for us to respond, especially as the event approaches...but we will try and get back to you as soon as possible!</p>
</Layout>
)
