---
import Layout from '../layouts/Layout.astro'
---
<Layout title="Schedule">
	<p>Details subject to change as we get closer to the event!</p>
	<h3>Friday Evening</h3>
	<table class="table table-bordered">
		<tr><td>8:00p</td><td class="text-center" colspan={2}>Doors Open at the Baum Opera House</td></tr>
		<tr><td></td><td class="text-center"><b>Baum Opera House Upstairs</b></td><td class="text-center"><b>Baum Opera House Downstairs</b></td></tr>
		<tr><td>8:30p</td><td class="text-center">DJed Music</td><td /></tr>
		<tr><td>9:00p</td><td class="text-center">Live Band</td><td class="text-center" rowspan={2}>TBD</td></tr>
		<tr><td>3rd Band Break (est 11:00p)</td><td class="text-center">Solo Jazz Prelims and Finals</td></tr>
		<tr><td>12:00a</td><td class="text-center" colspan={2}>End of dance...everyone go to late night!</td></tr>
	</table>
	<br />
	<h3>Friday Late Night</h3>
	<table class="table table-bordered">
		<tr><td>12:00a</td><td>Doors Open at Elegance in Dance</td></tr>
		<tr><td>12:00a</td><td>DJed Music</td></tr>
		<tr><td>3:00a</td><td>End of dance...get rest before tomorrow!</td></tr>
	</table>
	<br />
	<h3>Saturday Afternoon</h3>
	<table class="table table-bordered">
		<tr><td>9:00a</td><td class="text-center" colspan={3}>Doors Open at The Baum Opera House</td></tr>
		<tr><td></td><td class="text-center"><b>Baum Opera House Upstairs</b></td><td class="text-center"><b>Star City Social Hall</b></td><td class="text-center"><b>Baum Opera House Downstairs</b></td></tr>
		<tr><td>9:20a</td><td class="text-center">Level 2 Test</td><td /><td class="text-center">Level 3 Test</td></tr>
		<tr><td></td><td class="text-center"><b>Level 1 Track</b></td><td class="text-center"><b>Level 2 Track</b></td><td class="text-center"><b>Level 3 Track</b></td></tr>
		<tr><td>10:00a</td><td class="text-center"></td><td class="text-center"></td><td class="text-center"></td></tr>
		<tr><td>11:00a</td><td class="text-center" colspan={3}><i>Midmorning Break</i></td></tr>
		<tr><td>11:15a</td><td class="text-center"></td><td class="text-center"></td><td class="text-center"></td></tr>
		<tr><td>12:15p</td><td class="text-center" colspan={3}><i>Lunch Break</i></td></tr>
		<tr><td>12:15p</td><td class="text-center" colspan={3}>Team Floor Trials (Ballroom Closed)</td></tr>
		<tr><td>1:30p</td><td class="text-center"></td><td class="text-center"></td><td class="text-center"></td></tr>
		<tr><td>2:30p</td><td class="text-center" colspan={3}><i>Afternoon Break 1</i></td></tr>
		<tr><td>2:45p</td><td class="text-center"></td><td class="text-center"></td><td class="text-center"></td></tr>
		<tr><td>3:45p</td><td class="text-center" colspan={3}><i>Afternoon Break 2</i></td></tr>
		<tr><td></td><td class="text-center"><b>Elective</b></td><td class="text-center"><b>Elective</b></td><td class="text-center"><b>Elective</b></td></tr>
		<tr><td>4:00p</td><td class="text-center"></td><td class="text-center"></td><td class="text-center"></td></tr>
		<tr><td>5:00p</td><td class="text-center" colspan={3}><i>Dinner Break</i></td></tr>
		<tr><td>5:00p</td><td class="text-center" colspan={3}>Team Floor Trials (Ballroom Closed)</td></tr>
	</table>
	<br />
	<h3>Saturday Evening</h3>
	<table class="table table-bordered">
		<tr><td>7:00p</td><td class="text-center" colspan={2}>Ballroom Opens</td></tr>
		<tr><td></td><td class="text-center"><b>Baum Opera House Upstairs</b></td><td class="text-center"><b>Baum Opera House Downstairs</b></td></tr>
		<tr><td>7:30p</td><td class="text-center">Mix and Match Prelims</td><td /></tr>
		<tr><td>8:00p</td><td class="text-center" rowspan={2}>DJed Music</td><td class="text-center">TBD</td></tr>
		<tr><td>9:00p</td><td class="text-center" rowspan={2}>Closed for Team Competition Green Room</td></tr>
		<tr><td>9:30p</td><td class="text-center">Team Competition</td></tr>
		<tr><td>After Team Competition (est 10:30)</td><td class="text-center">DJed Music</td><td class="text-center" rowspan={2}>TBD</td></tr>
		<tr><td>11:40p</td><td class="text-center">Mix and Match Finals</td></tr>
		<tr><td>12:00a</td><td class="text-center" colspan={2}>End of dance...everyone go to late night!</td></tr>
	</table>
	<br />
	<h3>Saturday Late Night</h3>
	<table class="table table-bordered">
		<tr><td>12:00a</td><td>Doors Open at Elegance in Dance</td></tr>
		<tr><td>12:00a</td><td>DJed Music</td></tr>
		<tr><td>1:00a</td><td>Awards</td></tr>
		<tr><td>3:00a</td><td>Josh Forbes Power Hour</td></tr>
		<tr><td>4:00a</td><td>End of dance</td></tr>
	</table>
	<br />
	<h3>Sunday Afternoon</h3>
	<table class="table table-bordered">
		<tr><td>1:00p</td><td>Doors Open at Arbor Hall</td></tr>
		<tr><td>1:00p</td><td>Class 1 (All Levels)</td></tr>
		<tr><td>2:00p</td><td>Class 2 (All Levels)</td></tr>
		<tr><td>3:00p</td><td>DJed Music</td></tr>
		<tr><td>6:00p</td><td>End of event.  Go Home (sorry)</td></tr>
	</table>
</Layout>
