---
import {Icon} from 'astro-icon/components'
---
<div class="container my-5">
	<div class="row">
		<div class="col">
			<a href="https://www.facebook.com/Dayton-Swing-Smackdown-120632558063863" class="no-special-color">
				<Icon name="entypo-social:facebook" />
			</a>
			<p>Copyright 2025 by Dayton Swing Smackdown</p>
		</div>
		<div class="col">
			<h3>Dayton Swing Smackdown</h3>
			<p>We are an event dedicated to creating an exciting and fun atmosphere for new and old dancers alike. See you on the dance floor!</p>
		</div>
	</div>
</div>
