---
---
<div class="container">
	<nav class="navbar navbar-expand-lg">
		<a href="/" class="navbar-brand">Dayton Swing Smackdown</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
			<ul class="navbar-nav">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Registration</a>
					<ul class="dropdown-menu">
						<!-- <li><a class="dropdown-item" href="https://dayton-swing-smackdown-2025.dancecamps.org/">Register Now</a></li> -->
						<li><a class="dropdown-item" href="/pricing">Pricing</a></li>
						<li><a class="dropdown-item" href="/housing">Housing</a></li>
					</ul>
				</li>
				<li class="nav-item"><a class="nav-link" href="/classes">Classes</a></li>
				<li class="nav-item"><a class="nav-link" href="/instructors">Instructors</a></li>
				<li class="nav-item dropdown">
					<a class="class nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Competitions</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="/competition-info">Competition Info</a></li>
						<li><a class="dropdown-item" href="/competition-results/2011">2011 Competition Results</a></li>
						<li><a class="dropdown-item" href="/competition-results/2012">2012 Competition Results</a></li>
						<li><a class="dropdown-item" href="/competition-results/2013">2013 Competition Results</a></li>
						<li><a class="dropdown-item" href="/competition-results/2014">2014 Competition Results</a></li>
						<li><a class="dropdown-item" href="/competition-results/2015">2015 Competition Results</a></li>
						<li><a class="dropdown-item" href="/competition-results/2016">2016 Competition Results</a></li>
						<li><a class="dropdown-item" href="/competition-results/2017">2017 Competition Results</a></li>
						<li><a class="dropdown-item" href="/competition-results/2018">2018 Competition Results</a></li>
						<li><a class="dropdown-item" href="/competition-results/2019">2019 Competition Results</a></li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="class nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Venues</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="/event-venues">Event Venues</a></li>
						<li><a class="dropdown-item" href="/local-fare">Local Faire</a></li>
					</ul>
				</li>
				<li class="nav-item"><a class="nav-link" href="/music">Music</a></li>
				<li class="nav-item"><a class="nav-link" href="/schedule">Schedule</a></li>
				<li class="nav-item"><a class="nav-link" href="/safety">Safety</a></li>
			</ul>
		</div>
	</nav>
</div>
